<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="style.css"/>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-app="myApp" ng-controller="familyCtrl">

<h2>Family History List</h2>

<form ng-submit="familyAdd()">
    <input type="text" ng-model="son" size="30" placeholder="Child's name">
    <input type="text" ng-model="father" size="30" placeholder="Father's name">
    <input type="text" ng-model="mother" size="30" placeholder="Mother's name">
    <input type="submit" value="Add Family">
</form>

<br>

<div ng-repeat="x in familyList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.famText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script src="family.js"></script>
</body>
</html>
